.btn-pagar{
    background: #006837 !important;
    color: #fff !important;
    font-weight: bold !important;
    width: 100% !important;
    height: 48px !important;
}

.btn-atualizar{
    width: 100% !important;
    border-color: #006837 !important;
    color: #006837 !important;
    margin-top: 20px !important;
}

.title-financeiro{
    text-align: center !important;
    color: #EB8722;
    text-transform: uppercase;
    font-weight: bold;
}