body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.12)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: rgb(35, 34, 34);
  font-weight: bolder;
}

@font-face {
  font-family: 'Lola';
  src: url('fonts/Signika.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Lola' !important;
}

*::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: lightgrey;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #ed6435;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #ed6435;  /* creates padding around scroll thumb */
}
@media only screen and (max-width: 768px){
  *::-webkit-scrollbar {
    display: none;
  }
}
