@media only screen and (max-width: 768px){
    .css-ai64lu-MuiPaper-root-MuiDialog-paper{
        width: 100%;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .css-ai64lu-MuiPaper-root-MuiDialog-paper{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px){
    .css-ai64lu-MuiPaper-root-MuiDialog-paper{
        width: 100%;
        max-width: 900px;
    }
}